<di-header></di-header>
<di-view-options></di-view-options>

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="select-wrapper">
        <div class="input-group" ng-click="catalog.trigFilterBox()" click-outside="catalog.trigFilterBox('hide')">
          <input type="text" class="select" placeholder="Select Filter" readonly>
          <div class="select-box"><span class="icon-arrow"></span></div>
        </div>
        <ul class="list option-list" ng-if="catalog.visibleFilterBox">
          <li>Saved Filters</li>
          <li>Unsaved Filters</li>
        </ul>
      </div>

      <div class="filter-wrapper">
        <ul class="filter-list list">
          <li class="filter-item">
            <p class="filter-title">Year <span class="right"></span></p>
            <div class="filter-label">
              <div class="slider-label">Min: <span>{{catalog.year.min}}</span></div>
              <div class="slider-label">Max: <span>{{catalog.year.max}}</span></div>
            </div>
            <rzslider rz-slider-model="catalog.year.min"
                      rz-slider-high="catalog.year.max"
                      rz-slider-options="catalog.year.options" class="filter-slider">
            </rzslider>
          </li>
          <li class="filter-item">
            <p class="filter-title">Mileage <span class="right">km:</span></p>
            <div class="filter-label">
              <div class="slider-label">Max: <span>{{catalog.mileage.value | number:0}}</span></div>
            </div>
            <rzslider rz-slider-model="catalog.mileage.value"
                      rz-slider-options="catalog.mileage.options" class="filter-slider">
            </rzslider>
          </li>
          <li class="filter-item">
            <p class="filter-title">Price <span class="right">R</span></p>
            <div class="filter-label">
              <div class="slider-label">Min: <span>{{catalog.price.min | number:0}}</span></div>
              <div class="slider-label">Max: <span>{{catalog.price.max | number:0}}</span></div>
            </div>
            <rzslider rz-slider-model="catalog.price.min"
                      rz-slider-high="catalog.price.max"
                      rz-slider-options="catalog.price.options" class="filter-slider">
            </rzslider>
          </li>

          <li class="filter-item">
            <p class="filter-title">Make &amp; Model <span class="right icon-arrow icon-arrow_blue"></span></p>
            <ul class="filter-sublist list">
              <li>
                <div class="title-wrapper"><span class="title">All Makes</span> <span>(1,029)</span></div>
              </li>
              <li>
                <div class="title-wrapper"><span class="title">Alfa Romeo</span> <span>(12)</span></div>
              </li>
              <li>
                <div class="title-wrapper"><span class="title">Audi</span> <span>(109)</span></div>
              </li>
              <li>
                <div class="title-wrapper"><span class="title selected">BMW</span> <span>(206)</span></div>
                <ul class="list model-sublist">
                  <li>
                    <label class="checkbox-wrapper">
                      <span class="checkbox-item">
                        <input type="checkbox" ng-model="catalog.carModel.all">
                        <i class="checkbox-helper"></i>
                      </span>
                      <span class="checkbox-label">ALL</span><span></span>
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-wrapper">
                      <span class="checkbox-item">
                        <input type="checkbox" ng-model="catalog.carModel.series3">
                        <i class="checkbox-helper"></i>
                      </span>
                      <span class="checkbox-label">3 Series</span><span>(22)</span>
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-wrapper">
                      <span class="checkbox-item">
                        <input type="checkbox" ng-model="catalog.carModel.series4">
                        <i class="checkbox-helper"></i>
                      </span>
                      <span class="checkbox-label">4 Series</span><span>(14)</span>
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-wrapper">
                      <span class="checkbox-item">
                        <input type="checkbox" ng-model="catalog.carModel.series5">
                        <i class="checkbox-helper"></i>
                      </span>
                      <span class="checkbox-label">5 Series</span><span>(25)</span>
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-wrapper">
                      <span class="checkbox-item">
                        <input type="checkbox" ng-model="catalog.carModel.series6">
                        <i class="checkbox-helper"></i>
                      </span>
                      <span class="checkbox-label">6 Series</span><span>(5)</span>
                    </label>
                  </li>
                </ul>
              </li>
              <li>
                <div class="title-wrapper"><span class="title selected">Chevrolet</span> <span>(104)</span></div>
              </li>
              <li>
                <div class="title-wrapper"><span class="title">Dodge</span> <span>(135)</span></div>
              </li>
            </ul>
          </li>
          <li class="filter-item">
            <p class="filter-title">Transmission <span class="right icon-arrow icon-arrow_blue"></span></p>
            <ul class="filter-sublist list">
              <li>
                <div class="title-wrapper"><span class="title">Automatic</span> <span></span></div>
              </li>
              <li>
                <div class="title-wrapper"><span class="title selected">Manual</span> <span></span></div>
              </li>
            </ul>
          </li>
          <li class="filter-item">
            <p class="filter-title">Fuel Type <span class="right icon-arrow icon-arrow_blue"></span></p>
            <ul class="filter-sublist list">
              <li>
                <div class="title-wrapper"><span class="title  selected">Petrol</span> <span></span></div>
              </li>
              <li>
                <div class="title-wrapper"><span class="title">Diesel</span> <span></span></div>
              </li>
            </ul>
          </li>

        </ul>
        <div class="filter-buttons">
          <button class="button button-blue">Save this filter</button>
          <button class="button button-white">Clear filters</button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="clearfix">
        <div class="items-count left">
          <span>Display</span>
          <div class="buttons-container">
            <button class="selected">10</button>
            <button>20</button>
            <button>30</button>
          </div>
        </div>
        <div class="items-count right">
          <span>Back</span>
          <div class="buttons-container">
            <button class="selected">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
          </div>
          <span>Forward</span>
        </div>
      </div>

      <div class="list-view clearfix">
        <ul class="items-list list">
          <li class="item-wrapper">
            <div class="item-card clearfix">
              <div class="item-image">
                <a href="#"><img src="/assets/images/car-image.png" alt="Car image 1"></a>
              </div>
              <div class="item-info">
                <div class="car-title">
                  <span class="icon icon-star active"></span>
                  <h3><a href="#">2015 Mercedes-Benz C-Class</a></h3>
                  <h4>C 350 2dr Coupe 4Matic</h4>
                </div>
                <div class="car-info">
                  <div class="row">
                    <div class="col-md-6 car-description">
                      <span class="description-text">Mileage: 35,000 km</span>
                      <span class="description-text">Service History: Agent, No Books</span>
                      <span class="description-text">Total Recon: R 7000</span>
                      <div class="car-conditions">
                        <span>Condition</span>
                        <div class="conditions-wrapper">
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                        </div>
                      </div>
                      <span class="description-text">Location: Cape Town</span>
                    </div>
                    <div class="col-md-6 car-options">
                      <div class="price-input">
                        <input type="button" value="&#8211;" class="minus">
                        <input type="text" name="offer_value" ng-model="catalog.amount"  format="currency" class="input-text offer" placeholder="Enter offer">
                        <input type="button" value="+" class="plus">
                      </div>
                      <button class="button button-red">Make an offer</button>
                      <button class="button button-blue">Car details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="item-wrapper">
            <div class="item-card clearfix">
              <div class="item-image">
                <a href="#"><img src="/assets/images/car-image.png" alt="Car image 1"></a>
              </div>
              <div class="item-info">
                <div class="car-title">
                  <span class="icon icon-star"></span>
                  <h3>2015 Mercedes-Benz C-Class</h3>
                  <h4>C 350 2dr Coupe 4Matic</h4>
                </div>
                <div class="car-info">
                  <div class="row">
                    <div class="col-md-6 car-description">
                      <span class="description-text">Mileage: 35,000 km</span>
                      <span class="description-text">Service History: Agent, No Books</span>
                      <span class="description-text">Total Recon: R 7000</span>
                      <div class="car-conditions">
                        <span>Condition</span>
                        <div class="conditions-wrapper">
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                        </div>
                      </div>
                      <span class="description-text">Location: Cape Town</span>
                    </div>
                    <div class="col-md-6 car-options">
                      <div class="price-input">
                        <input type="button" value="&#8211;" class="minus">
                        <input type="text" name="offer_value" ng-model="catalog.amount"  format="currency" class="input-text offer" placeholder="Enter offer">
                        <input type="button" value="+" class="plus">
                      </div>
                      <button class="button button-red">Make an offer</button>
                      <button class="button button-blue">Car details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="item-wrapper">
            <div class="item-card clearfix">
              <div class="item-image">
                <a href="#"><img src="/assets/images/car-image.png" alt="Car image 1"></a>
              </div>
              <div class="item-info">
                <div class="car-title">
                  <span class="icon icon-star"></span>
                  <h3>2015 Mercedes-Benz C-Class</h3>
                  <h4>C 350 2dr Coupe 4Matic</h4>
                </div>
                <div class="car-info">
                  <div class="row">
                    <div class="col-md-6 car-description">
                      <span class="description-text">Mileage: 35,000 km</span>
                      <span class="description-text">Service History: Agent, No Books</span>
                      <span class="description-text">Total Recon: R 7000</span>
                      <div class="car-conditions">
                        <span>Condition</span>
                        <div class="conditions-wrapper">
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars active"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                          <span class="condition-stars"></span>
                        </div>
                      </div>
                      <span class="description-text">Location: Cape Town</span>
                    </div>
                    <div class="col-md-6 car-options">
                      <div class="price-input">
                        <input type="button" value="&#8211;" class="minus">
                        <input type="text" name="offer_value" ng-model="catalog.amount"  format="currency" class="input-text offer" placeholder="Enter offer">
                        <input type="button" value="+" class="plus">
                      </div>
                      <button class="button button-red">Make an offer</button>
                      <button class="button button-blue">Car details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<di-footer></di-footer>
