.items-count {
  padding: 10px 0;
  color: #dddcdb;
  font-size: 0;
  line-height: 0;

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }

  .buttons-container {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 18px;
    line-height: 24px;

    &:last-child {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  button {
    display: inline-block;
    outline: none;
    min-width: 28px;
    margin-right: 5px;
    padding: 2px 6px;
    border: 1px solid #dddcdb;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;

    &.selected {
      background-color: #dddcdb;
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


.list-view {
  .item-wrapper {
    margin-bottom: 35px;
    border: 2px solid #2387c8;
    border-left: 12px solid #2387c8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .item-image {
    float: left;
    width: 240px;

    a {
      display: block;
    }

    img {
      max-width: 100%;
    }
  }

  .item-info {
    margin-left: 240px;
    padding: 0 15px;
  }

}

.car-title {
  color: #2387c8;

  h3 {
    margin: 10px 35px 5px 0;
    font-size: 32px;

    a {
      display: inline-block;
      transition: all 0.3s;

      &:hover {
        text-decoration: none;
      }
    }
  }

  h4 {
    margin: 0;
  }

  h3,
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon {
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;

    &.icon-star {
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Car-List-Icons-01-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20id%3D%22Car-List-Icons-01-XMLID_989_%22%20d%3D%22m36.583%2044.676c-0.354%200-0.707-0.097-1.018-0.3l-10.563-6.845-10.564%206.845c-0.656%200.429-1.504%200.399-2.132-0.062s-0.903-1.267-0.69-2.017l3.306-11.722-9.872-8.349c-0.582-0.491-0.81-1.289-0.573-2.013%200.237-0.725%200.889-1.234%201.648-1.286l11.843-0.853%205.329-11.662c0.306-0.669%200.971-1.094%201.706-1.094%200.731%200%201.398%200.425%201.703%201.094l5.33%2011.662%2011.842%200.853c0.759%200.052%201.411%200.562%201.647%201.286s0.011%201.521-0.57%202.013l-9.875%208.349%203.309%2011.722c0.212%200.75-0.064%201.555-0.693%202.017-0.33%200.244-0.719%200.362-1.113%200.362zm-11.581-11.249c0.353%200%200.708%200.097%201.016%200.3l7.41%204.799-2.282-8.098c-0.199-0.706%200.031-1.463%200.593-1.936l7.279-6.158-8.36-0.599c-0.683-0.052-1.285-0.473-1.569-1.094l-4.087-8.941-4.089%208.942c-0.285%200.621-0.887%201.042-1.57%201.094l-8.361%200.599%207.281%206.158c0.562%200.473%200.796%201.229%200.593%201.936l-2.285%208.098%207.41-4.799c0.31-0.204%200.666-0.301%201.021-0.301z%22%20fill%3D%22%232488C9%22%2F%3E%3C%2Fsvg%3E');
      background-size: contain;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Car-List-Icons-02-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20id%3D%22Car-List-Icons-02-XMLID_1_%22%20d%3D%22m36.583%2044.676c-0.354%200-0.707-0.097-1.018-0.3l-10.563-6.845-10.564%206.845c-0.656%200.429-1.504%200.399-2.132-0.062s-0.903-1.267-0.69-2.017l3.306-11.722-9.872-8.349c-0.582-0.491-0.81-1.289-0.573-2.013%200.237-0.725%200.889-1.234%201.648-1.286l11.843-0.853%205.329-11.662c0.306-0.669%200.971-1.094%201.706-1.094%200.731%200%201.398%200.425%201.703%201.094l5.33%2011.662%2011.842%200.853c0.759%200.052%201.411%200.562%201.647%201.286s0.011%201.521-0.57%202.013l-9.875%208.349%203.309%2011.722c0.212%200.75-0.064%201.555-0.693%202.017-0.33%200.244-0.719%200.362-1.113%200.362z%22%20fill%3D%22%232488C9%22%2F%3E%3C%2Fsvg%3E');
        background-size: contain;
      }
    }
  }
}


.car-info {
  padding: 20px 0 0;
}

.car-description {
  color: #a4a4a4;
  font-size: 16px;
  line-height: 20px;

  .description-text {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.car-conditions {
   margin-bottom: 10px;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .conditions-wrapper {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
  }

  .condition-stars {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Car-List-Icons-03-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20id%3D%22Car-List-Icons-03-XMLID_4_%22%20d%3D%22m36.583%2044.676c-0.354%200-0.707-0.097-1.018-0.3l-10.563-6.845-10.564%206.845c-0.656%200.429-1.504%200.399-2.132-0.062s-0.903-1.267-0.69-2.017l3.306-11.722-9.872-8.349c-0.582-0.491-0.81-1.289-0.573-2.013%200.237-0.725%200.889-1.234%201.648-1.286l11.843-0.853%205.329-11.662c0.306-0.669%200.971-1.094%201.706-1.094%200.731%200%201.398%200.425%201.703%201.094l5.33%2011.662%2011.842%200.853c0.759%200.052%201.411%200.562%201.647%201.286s0.011%201.521-0.57%202.013l-9.875%208.349%203.309%2011.722c0.212%200.75-0.064%201.555-0.693%202.017-0.33%200.244-0.719%200.362-1.113%200.362zm-11.581-11.249c0.353%200%200.708%200.097%201.016%200.3l7.41%204.799-2.282-8.098c-0.199-0.706%200.031-1.463%200.593-1.936l7.279-6.158-8.36-0.599c-0.683-0.052-1.285-0.473-1.569-1.094l-4.087-8.941-4.089%208.942c-0.285%200.621-0.887%201.042-1.57%201.094l-8.361%200.599%207.281%206.158c0.562%200.473%200.796%201.229%200.593%201.936l-2.285%208.098%207.41-4.799c0.31-0.204%200.666-0.301%201.021-0.301z%22%20fill%3D%22%23BFC932%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat;
    background-size: contain;

    &.active {
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Car-List-Icons-04-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20id%3D%22Car-List-Icons-04-XMLID_7_%22%20d%3D%22m36.583%2044.677c-0.354%200-0.707-0.097-1.018-0.3l-10.563-6.845-10.564%206.845c-0.656%200.429-1.504%200.399-2.132-0.062s-0.903-1.267-0.69-2.017l3.306-11.722-9.872-8.349c-0.582-0.491-0.81-1.289-0.573-2.013%200.237-0.725%200.889-1.234%201.648-1.286l11.843-0.853%205.329-11.662c0.306-0.669%200.971-1.094%201.706-1.094%200.731%200%201.398%200.425%201.703%201.094l5.33%2011.662%2011.842%200.853c0.759%200.052%201.411%200.562%201.647%201.286s0.011%201.521-0.57%202.013l-9.875%208.349%203.309%2011.722c0.212%200.75-0.064%201.555-0.693%202.017-0.33%200.244-0.719%200.362-1.113%200.362z%22%20fill%3D%22%23BFC932%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat;
      background-size: contain;
    }
  }
}

.car-options {
  .price-input {
    margin-bottom: 15px;
    font-size: 0;
    line-height: 0;
    border: 1px solid #a4a4a4;
    border-radius: 3px;

    input[type="button"] {
      display: inline-block;
      width: 40px;
      height: 34px;
      border: none;
      background-color: #a4a4a4;
      color: #fff;
      font-size: 28px;
      line-height: 28px;
      vertical-align: middle;

      &.plus {
        background-color: #bec833;
      }
    }

    input[type="text"] {
      display: inline-block;
      width: calc(100% - 80px);
      height: 34px;
      padding: 5px 15px;
      border: none;
      outline: none;
      color: #34485e;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
    }

  }

  .button {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

