header {
  background-color: #34485e;

  p {
    color: #b5b5b5;
  }

  a {
    &:active,
    &:visited,
    &:focus {
      color: #fff;
    }
  }

  .menu-link {
    color: #fff;
    font-size: 16px;
  }

  .nav > li > a {
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: lighten(#34485e, 8%);
    }
  }

  p {
    margin: 2px 5px;
    text-align: right;
  }

  .carzar-logo {
    display: inline-block;
    float: left;
  }

  .logo-box {
    width: 159px;
    height: 44px;
    margin: 13px 0;
  }

  .navbar-nav > li {
    margin-left: 20px;

    @media (max-width: 992px) {
      margin-left: 0;
    }
  }

  .navbar-nav > li.active > a {
    border-top: 7px solid #fff;
    color: #fff;
  }

  .navbar-nav > li:hover > a {
    color: #fff;
  }

  .navbar-nav > li > a {
    padding: 21px 12px 22px;
    border-top: 7px solid transparent;
    color: #fff;
    font-size: 16px;
  }

  .navbar-toggle {
    float: right;
    border: 1px solid #fff;
    margin-top: 21px;
    .icon-bar {
      background-color: #fff;
    }
  }

  .mycaret {
    width: 15px;
    height: 8px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-image: url('/assets/images/arrow-down_white.png');
  }

  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      float: left;
      position: relative;
      display: block;
    }
  }

  .userbar {
    margin: 0 -15px;

    @media (min-width: 768px) {
      float: right;
      margin: 0 0 0 10px;
    }

    @media (min-width: 1200px) {
      margin-left: 50px;
    }

    > li > a {
      display: inline-block;
      vertical-align: middle;
      padding: 19px 5px;
      color: #fff;
      font-size: 16px;

      &:hover {
        text-decoration: none;
      }

      @media (max-width: 767px) {
        padding: 17px 10px;
      }

      &.notification {
        padding: 10px 5px 17px;

        @media (max-width: 767px) {
          padding: 10px 10px 17px;
        }

        .counter {
          display: inline-block;
          width: 22px;
          height: 22px;
          margin: 0 -6px 0 -4px;
          border: 2px solid #fff;
          border-radius: 50%;
          background-color: #e35341;
          font-size: 15px;
          line-height: 17px;
          text-align: center;
          vertical-align: 12px;

          &.invisible {
            visibility: hidden;
          }
        }
      }
    }

    .userbar-item {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      @media (max-width: 767px) {
        display: inline-block;
        width: 33.33333%;
        margin: 0;
        vertical-align: middle;
      }

      &.dropdown {
        @media (max-width: 767px) {
          width: 100%;
        }
        > a {
          padding: 23px 13px 24px 5px;
        }
      }
    }

    .icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;

      &.icon-star {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-01-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20id%3D%22Header-Icons-01-XMLID_989_%22%20d%3D%22m36.583%2044.676c-0.354%200-0.707-0.097-1.018-0.3l-10.563-6.845-10.564%206.845c-0.656%200.429-1.504%200.399-2.132-0.062s-0.903-1.267-0.69-2.017l3.306-11.722-9.872-8.349c-0.582-0.491-0.81-1.289-0.573-2.013%200.237-0.725%200.889-1.234%201.648-1.286l11.843-0.853%205.329-11.662c0.306-0.669%200.971-1.094%201.706-1.094%200.731%200%201.398%200.425%201.703%201.094l5.33%2011.662%2011.842%200.853c0.759%200.052%201.411%200.562%201.647%201.286s0.011%201.521-0.57%202.013l-9.875%208.349%203.309%2011.722c0.212%200.75-0.064%201.555-0.693%202.017-0.33%200.244-0.719%200.362-1.113%200.362zm-11.581-11.249c0.353%200%200.708%200.097%201.016%200.3l7.41%204.799-2.282-8.098c-0.199-0.706%200.031-1.463%200.593-1.936l7.279-6.158-8.36-0.599c-0.683-0.052-1.285-0.473-1.569-1.094l-4.087-8.941-4.089%208.942c-0.285%200.621-0.887%201.042-1.57%201.094l-8.361%200.599%207.281%206.158c0.562%200.473%200.796%201.229%200.593%201.936l-2.285%208.098%207.41-4.799c0.31-0.204%200.666-0.301%201.021-0.301z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
        background-size: contain;
      }

      &.icon-bell {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-02-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20id%3D%22Header-Icons-02-XMLID_975_%22%20d%3D%22m42.801%2036.97c-3.15%200-4.369-1.851-4.369-13.31%200-8.987-4.074-14.636-11.104-15.471v-2.865c0-1.038-0.838-1.873-1.873-1.873-1.034%200-1.875%200.835-1.875%201.873v2.806c-7.495%200.61-11.839%206.317-11.839%2015.53%200%2011.459-1.367%2013.31-4.521%2013.31-1.034%200-1.899%200.721-1.899%201.762%200%201.035%200.814%201.759%201.852%201.759h12.187c0.142%201.403%200.564%203.133%201.704%204.378%200.972%201.06%202.3%201.681%203.841%201.681%201.53%200%202.86-0.644%203.852-1.688%201.184-1.252%201.652-2.967%201.832-4.37h12.213c1.039%200%201.879-0.724%201.879-1.759-0.001-1.042-0.841-1.763-1.88-1.763zm-16.774%205.338c-0.188%200.203-0.487%200.484-1.124%200.484-0.621%200-0.898-0.296-1.071-0.484-0.366-0.398-0.577-0.883-0.689-1.817h1.575c0.091%200%200.182-0.008%200.269-0.022%200.087%200.015%200.177%200.022%200.27%200.022h1.527c-0.134%200.934-0.364%201.411-0.757%201.817zm-0.771-5.566c-0.093%200-0.183%200.003-0.27%200.018-0.087-0.015-0.178-0.018-0.269-0.018h-11.073c1.749-3.281%201.749-8.382%201.749-13.158%200-7.629%203.313-11.678%209.325-11.678h0.538c6.011%200%209.326%204.049%209.326%2011.678%200%204.776%200%209.877%201.748%2013.158h-11.074zm6.685-16.627c0.057%200.904-0.635%201.681-1.539%201.735-0.031%200.004-0.064%200.008-0.1%200.008-0.861%200-1.584-0.676-1.635-1.552-0.125-2.087-1.775-2.859-1.963-2.94-0.825-0.361-1.22-1.318-0.875-2.146%200.347-0.831%201.285-1.229%202.119-0.897%200.154%200.065%203.745%201.558%203.993%205.792z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
        background-size: contain;
      }

      &.icon-car {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-03-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-width%3D%224%22%20stroke-miterlimit%3D%2210%22%20d%3D%22m17.979%208.608c-2.934%200.522-5.383%202.677-6.341%205.547l-0.551%201.699h-1.178c-2.185%200-4.017%201.531-4.017%203.609%200%201.254%200.667%202.305%201.673%202.947%200.124%200.063%200.277%200.114%200.277%200.114l-1.14%201.487c-1.3%201.69-2%203.784-2%205.97v8.461c0%201.991%201.623%203.609%203.618%203.609h3.413c1.762%200%203.232-1.235%203.58-2.974l0.359-1.771h18.651l0.356%201.749c0.352%201.753%201.812%202.996%203.58%202.996h3.417c1.994%200%203.618-1.618%203.618-3.609v-8.461c0-2.186-0.7-4.279-2.008-5.979%200%200-0.737-0.97-1.103-1.456%200.587-0.177%201.921-1.005%201.921-3.084%200-2.078-1.832-3.609-4.02-3.609h-1.126l-0.68-1.707c-0.959-2.862-3.408-5.017-6.336-5.537-2.43-0.438-4.693-0.662-6.942-0.662-2.231%200-4.426%200.214-7.021%200.661%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
        background-size: contain;
      }

      &.icon-user {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-04-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%09%3Ccircle%20r%3D%2220.164%22%20cy%3D%2225%22%20stroke%3D%22%23fff%22%20cx%3D%2225%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%224%22%20fill%3D%22none%22%2F%3E%09%3Cg%20fill%3D%22%23fff%22%3E%09%09%3Cg%20id%3D%22Header-Icons-04-XMLID_684_%22%3E%09%09%09%3Cpath%20id%3D%22Header-Icons-04-XMLID_692_%22%20d%3D%22m25%2025.301c3.455%200%206.266-2.823%206.266-6.296%200-3.469-2.811-6.296-6.266-6.296s-6.266%202.827-6.266%206.296c0%203.473%202.811%206.296%206.266%206.296z%22%2F%3E%09%09%09%3Cpath%20id%3D%22Header-Icons-04-XMLID_691_%22%20d%3D%22m25%2014.572c2.428%200%204.404%201.988%204.404%204.433s-1.976%204.433-4.404%204.433c-2.429%200-4.406-1.989-4.406-4.434s1.977-4.432%204.406-4.432z%22%2F%3E%09%09%3C%2Fg%3E%09%09%3Cg%20id%3D%22Header-Icons-04-XMLID_668_%22%3E%09%09%09%3Cpath%20id%3D%22Header-Icons-04-XMLID_683_%22%20d%3D%22m27.901%2027.795c-0.306-0.099-0.642-0.03-0.886%200.178l-2.015%201.712-2.015-1.712c-0.246-0.208-0.581-0.276-0.886-0.178-1.305%200.418-7.805%202.653-7.805%205.881%200%200.515%200.417%200.929%200.93%200.929h19.552c0.515%200%200.931-0.414%200.931-0.929-0.001-3.228-6.503-5.463-7.806-5.881z%22%2F%3E%09%09%09%3Cpath%20id%3D%22Header-Icons-04-XMLID_669_%22%20d%3D%22m16.644%2032.743c1.027-1.086%203.482-2.296%205.535-3.009l2.218%201.884c0.35%200.296%200.858%200.296%201.207%200l2.217-1.884c2.055%200.713%204.511%201.923%205.534%203.009h-16.711z%22%2F%3E%09%09%3C%2Fg%3E%09%3C%2Fg%3E%3C%2Fsvg%3E');
        background-size: contain;
      }

    }

    .username {
      display: inline-block;
      max-width: 130px;
      margin: 0 15px 0 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
}

@media (max-width: 767px) {
  header {
    .logo-box {
      margin-left: 15px;
    }
    .navbar-nav > li {
      margin-left: 0px;
      .dropdown-menu {
        width: 100%;
      }

      a {
        display: inline-block;
        width: 100%;
      }
      &.active a {
        border-top: none;
        border-bottom: 3px solid #4a4949;
        background-color: darken(#34485e, 8%);
      }
    }
    .collapse.in {
      overflow-y: visible;
      margin-right: 15px;
      margin-left: 15px;
    }
    ul li {
      text-align: center;
      width: 100%;

    }
    p {
      display: inline-block;
    }

    .dropdown-menu.submenu {
      @media (max-width: 767px) {
        left: 0;
        right: 0;
        width: 80%;
        max-width: 320px;
        margin: 0 auto;
      }
    }
  }
}

