// Options box
.options-box {

  .categories {
    width: 100%;
    padding: 7px 0;
    background-color: #2387c8;

    @media (max-width: 767px) {
      padding: 10px 0;
    }
  }
}

.option-item {
  display: inline-block;
  padding: 3px 15px;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

  transition: all 0.2s ease-out;

  @media (max-width: 767px) {
    padding: 5px 25px;
    border-radius: 20px;
  }

  &_white,
  &_active {
    border: 1px solid #2387c8;
    background-color: #fff;
    color: #2387c8;
  }
}

.category-wrapper {
  @media (max-width: 767px) {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;


    &:last-child {
      margin-bottom: 0;
    }
  }
}

.category-link {

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: darken(#2387c8, 8%);
  }

  &:active,
  &:focus {
    color: #fff;
    text-decoration: none;
    opacity: 1;
  }

  &.option-item_active {
    &:focus {
      color: #2387c8;
    }
    &:hover {
      color: #fff;
    }
  }
}

.view-options {
  padding: 6px 0 3px;
  border-bottom: 1px solid #2387c8;
  background-color: #fff;

  @media (max-width: 767px) {
    padding: 15px 0;
  }
}

.search-box {
  width: 88%;
  border: 1px solid #2387c8;
  border-radius: 15px;
  line-height: 0;

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 10px;
  }

  @media (min-width: 992px) {
    width: 79%;
  }

  @media (min-width: 1200px) {
    width: 74%;
  }

  .search-icon {
    display: inline-block;
    float: left;
    width: 30px;
    height: 26px;
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-12-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20id%3D%22Header-Icons-12-XMLID_1796_%22%20d%3D%22m7.767%2019.928c0%206.924%205.565%2012.561%2012.408%2012.561%202.684%200%205.171-0.869%207.202-2.344l11.789%2011.955c0.348%200.355%200.812%200.535%201.273%200.535%200.454%200%200.911-0.176%201.261-0.52%200.703-0.695%200.713-1.828%200.016-2.533l-11.765-11.936c1.646-2.131%202.632-4.812%202.632-7.719%200-6.93-5.565-12.562-12.408-12.562s-12.408%205.633-12.408%2012.563zm3.188%200c0-5.172%204.137-9.377%209.22-9.377s9.223%204.205%209.223%209.377c0%205.166-4.14%209.371-9.223%209.371s-9.22-4.205-9.22-9.371zm6.774-5.998c0.699-0.311%201.518%200.006%201.832%200.705%200.315%200.699%200.004%201.525-0.695%201.842-0.098%200.047-2.424%201.139-2.146%203.229%200.1%200.762-0.435%201.461-1.199%201.562-0.06%200.01-0.123%200.014-0.186%200.014-0.688%200-1.289-0.508-1.38-1.209-0.556-4.171%203.598-6.061%203.774-6.143z%22%20fill%3D%22%232488C9%22%2F%3E%3C%2Fsvg%3E') 5px 0 no-repeat;
    background-size: contain;
  }

  .search-input {
    width: calc(100% - 30px);
    height: 26px;
    padding: 0 20px;
    border: none;
    outline: none;
    box-shadow: none;
    font-weight: normal;

    &::-webkit-input-placeholder {
      color: #2387c8;
    }

    &::-moz-placeholder {
      color: #2387c8;
    }

    &:-moz-placeholder {
      color: #2387c8;
    }

    &:-ms-input-placeholder {
      color: #2387c8;
    }
  }

  .search-icon,
  .search-input {
    @media (max-width: 767px) {
      height: 32px;
    }
  }
}

.view-option-list {
  text-align: center;
  float: left;

  @media (min-width: 768px) {
    float: none;
  }

  .view-option-item {
    display: inline-block;
    margin-left: 12px;
    color: #2387c8;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }
  }

  .icon-view {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;

    &.icon-blocks {
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-05-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cg%20fill%3D%22%23DDDCDB%22%3E%09%3Cpath%20id%3D%22Header-Icons-05-XMLID_693_%22%20d%3D%22m20.199%2022.719h-11.805c-1.342%200-2.436-1.088-2.436-2.426v-9.314c0-1.338%201.094-2.426%202.436-2.426h11.806c1.345%200%202.437%201.088%202.437%202.429v9.312c-0.001%201.337-1.093%202.425-2.438%202.425zm-10.778-3.463h9.754v-7.24h-9.754v7.24zm32.185%203.463h-11.805c-1.345%200-2.437-1.088-2.437-2.426v-9.314c0-1.338%201.092-2.426%202.435-2.426h11.808c1.344%200%202.436%201.088%202.436%202.429v9.312c-0.001%201.337-1.093%202.425-2.437%202.425zm-10.779-3.463h9.752v-7.24h-9.752v7.24zm-10.628%2022.191h-11.805c-1.342%200-2.436-1.092-2.436-2.426v-9.314c0-1.338%201.094-2.43%202.436-2.43h11.806c1.345%200%202.437%201.092%202.437%202.43v9.314c-0.001%201.334-1.093%202.426-2.438%202.426zm-10.778-3.467h9.754v-7.236h-9.754v7.236zm32.185%203.467h-11.805c-1.345%200-2.437-1.092-2.437-2.426v-9.314c0-1.338%201.092-2.43%202.437-2.43h11.806c1.344%200%202.436%201.092%202.436%202.43v9.314c-0.001%201.334-1.093%202.426-2.437%202.426zm-10.779-3.467h9.752v-7.236h-9.752v7.236z%22%2F%3E%09%3Crect%20y%3D%229%22%20x%3D%229%22%20height%3D%2211%22%20width%3D%2211%22%2F%3E%09%3Crect%20y%3D%229%22%20x%3D%2230%22%20height%3D%2211%22%20width%3D%2211%22%2F%3E%09%3Crect%20y%3D%2229%22%20x%3D%228%22%20height%3D%2210%22%20width%3D%2212%22%2F%3E%09%3Crect%20y%3D%2229%22%20x%3D%2230%22%20height%3D%2210%22%20width%3D%2211%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-size: contain;
    }

    &.icon-blocks.active {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-06-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cg%20fill%3D%22%232488C9%22%3E%09%3Cpath%20id%3D%22Header-Icons-06-XMLID_1_%22%20d%3D%22m20.199%2022.719h-11.805c-1.342%200-2.436-1.088-2.436-2.426v-9.314c0-1.337%201.094-2.426%202.436-2.426h11.806c1.345%200%202.437%201.089%202.437%202.43v9.311c-0.001%201.337-1.093%202.425-2.438%202.425zm-10.778-3.463h9.754v-7.24h-9.754v7.24zm32.185%203.463h-11.805c-1.345%200-2.437-1.088-2.437-2.426v-9.314c0-1.337%201.092-2.426%202.435-2.426h11.808c1.344%200%202.436%201.089%202.436%202.43v9.311c-0.001%201.337-1.093%202.425-2.437%202.425zm-10.779-3.463h9.752v-7.24h-9.752v7.24zm-10.628%2022.191h-11.805c-1.342%200-2.436-1.092-2.436-2.426v-9.314c0-1.338%201.094-2.43%202.436-2.43h11.806c1.345%200%202.437%201.092%202.437%202.43v9.314c-0.001%201.334-1.093%202.426-2.438%202.426zm-10.778-3.467h9.754v-7.236h-9.754v7.236zm32.185%203.467h-11.805c-1.345%200-2.437-1.092-2.437-2.426v-9.314c0-1.338%201.092-2.43%202.437-2.43h11.806c1.344%200%202.436%201.092%202.436%202.43v9.314c-0.001%201.334-1.093%202.426-2.437%202.426zm-10.779-3.467h9.752v-7.236h-9.752v7.236z%22%2F%3E%09%3Crect%20y%3D%2210%22%20x%3D%229%22%20height%3D%2210%22%20width%3D%2211%22%2F%3E%09%3Crect%20y%3D%2210%22%20x%3D%2230%22%20height%3D%2210%22%20width%3D%2211%22%2F%3E%09%3Crect%20y%3D%2229%22%20x%3D%228%22%20height%3D%2210%22%20width%3D%2212%22%2F%3E%09%3Crect%20y%3D%2229%22%20x%3D%2230%22%20height%3D%2210%22%20width%3D%2211%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-size: contain;
    }

    &.icon-ordered-list {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-07-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cg%20fill%3D%22%23DDDCDB%22%3E%09%3Cpath%20id%3D%22Header-Icons-07-XMLID_974_%22%20d%3D%22m13.657%209.676c0-0.687-0.559-1.246-1.244-1.246h-5.332c-0.688%200-1.244%200.56-1.244%201.246v5.332c0%200.686%200.557%201.242%201.244%201.242h5.332c0.686%200%201.244-0.557%201.244-1.242v-5.332z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-07-XMLID_963_%22%20d%3D%22m44.164%209.777c0-0.688-0.558-1.245-1.245-1.245h-24.04c-0.689%200-1.245%200.558-1.245%201.245v5.333c0%200.686%200.556%201.24%201.245%201.24h24.04c0.688%200%201.245-0.555%201.245-1.24v-5.333z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-07-XMLID_962_%22%20d%3D%22m13.657%2022.283c0-0.686-0.559-1.243-1.244-1.243h-5.332c-0.688%200-1.244%200.558-1.244%201.243v5.336c0%200.686%200.557%201.24%201.244%201.24h5.332c0.686%200%201.244-0.555%201.244-1.24v-5.336z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-07-XMLID_956_%22%20d%3D%22m44.164%2022.387c0-0.688-0.558-1.244-1.243-1.244h-24.042c-0.688%200-1.245%200.557-1.245%201.244v5.332c0%200.688%200.558%201.24%201.245%201.24h24.042c0.686%200%201.243-0.553%201.243-1.24v-5.332z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-07-XMLID_955_%22%20d%3D%22m13.657%2034.893c0-0.686-0.557-1.242-1.244-1.242h-5.332c-0.688%200-1.244%200.557-1.244%201.242v5.335c0%200.686%200.557%201.24%201.244%201.24h5.332c0.688%200%201.244-0.555%201.244-1.24v-5.335z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-07-XMLID_954_%22%20d%3D%22m44.164%2034.995c0-0.687-0.558-1.243-1.243-1.243h-24.042c-0.688%200-1.245%200.557-1.245%201.243v5.333c0%200.688%200.558%201.242%201.245%201.242h24.042c0.686%200%201.243-0.555%201.243-1.242v-5.333z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-size: contain;
    }

    &.icon-ordered-list.active {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-08-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cg%20fill%3D%22%232488C9%22%3E%09%3Cpath%20id%3D%22Header-Icons-08-XMLID_24_%22%20d%3D%22m13.657%209.676c0-0.687-0.559-1.246-1.244-1.246h-5.332c-0.688%200-1.244%200.56-1.244%201.246v5.333c0%200.686%200.557%201.241%201.244%201.241h5.332c0.686%200%201.244-0.556%201.244-1.241v-5.333z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-08-XMLID_23_%22%20d%3D%22m44.164%209.777c0-0.688-0.558-1.245-1.245-1.245h-24.04c-0.689%200-1.245%200.558-1.245%201.245v5.333c0%200.687%200.556%201.24%201.245%201.24h24.04c0.688%200%201.245-0.554%201.245-1.24v-5.333z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-08-XMLID_22_%22%20d%3D%22m13.657%2022.284c0-0.686-0.559-1.243-1.244-1.243h-5.332c-0.688%200-1.244%200.558-1.244%201.243v5.335c0%200.686%200.557%201.24%201.244%201.24h5.332c0.686%200%201.244-0.555%201.244-1.24v-5.335z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-08-XMLID_21_%22%20d%3D%22m44.164%2022.387c0-0.688-0.558-1.244-1.243-1.244h-24.042c-0.688%200-1.245%200.557-1.245%201.244v5.333c0%200.688%200.558%201.24%201.245%201.24h24.042c0.686%200%201.243-0.553%201.243-1.24v-5.333z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-08-XMLID_20_%22%20d%3D%22m13.657%2034.894c0-0.687-0.557-1.242-1.244-1.242h-5.332c-0.688%200-1.244%200.556-1.244%201.242v5.334c0%200.686%200.557%201.24%201.244%201.24h5.332c0.688%200%201.244-0.555%201.244-1.24v-5.334z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-08-XMLID_19_%22%20d%3D%22m44.164%2034.995c0-0.686-0.558-1.243-1.243-1.243h-24.042c-0.688%200-1.245%200.558-1.245%201.243v5.333c0%200.688%200.558%201.242%201.245%201.242h24.042c0.686%200%201.243-0.555%201.243-1.242v-5.333z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-size: contain;
    }

    &.icon-list {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-09-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cg%20fill%3D%22%23DDDCDB%22%3E%09%3Cpath%20id%3D%22Header-Icons-09-XMLID_953_%22%20d%3D%22m6.66%2010.407c0-0.993%200.807-1.795%201.796-1.795h33.087c0.991%200%201.797%200.802%201.797%201.795s-0.806%201.798-1.797%201.798h-33.087c-0.989%200-1.796-0.805-1.796-1.798z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-09-XMLID_743_%22%20d%3D%22m6.66%2017.701c0-0.99%200.807-1.793%201.796-1.793h33.087c0.991%200%201.797%200.803%201.797%201.793%200%200.994-0.806%201.799-1.797%201.799h-33.087c-0.989%200-1.796-0.805-1.796-1.799z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-09-XMLID_742_%22%20d%3D%22m6.66%2024.996c0-0.989%200.807-1.791%201.796-1.791h33.087c0.991%200%201.797%200.802%201.797%201.791%200%200.995-0.806%201.801-1.797%201.801h-33.087c-0.989%200-1.796-0.806-1.796-1.801z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-09-XMLID_741_%22%20d%3D%22m6.66%2032.295c0-0.993%200.807-1.795%201.796-1.795h33.087c0.991%200%201.797%200.802%201.797%201.795%200%200.992-0.806%201.798-1.797%201.798h-33.087c-0.989%200-1.796-0.806-1.796-1.798z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-09-XMLID_740_%22%20d%3D%22m6.66%2039.59c0-0.992%200.807-1.793%201.796-1.793h33.087c0.991%200%201.797%200.801%201.797%201.793s-0.806%201.798-1.797%201.798h-33.087c-0.989%200-1.796-0.806-1.796-1.798z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-size: contain;
    }

    &.icon-list.active {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-10-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cg%20fill%3D%22%232488C9%22%3E%09%3Cpath%20id%3D%22Header-Icons-10-XMLID_18_%22%20d%3D%22m6.66%2010.407c0-0.993%200.807-1.795%201.796-1.795h33.087c0.991%200%201.797%200.802%201.797%201.795s-0.806%201.798-1.797%201.798h-33.087c-0.989%200-1.796-0.805-1.796-1.798z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-10-XMLID_17_%22%20d%3D%22m6.66%2017.702c0-0.991%200.807-1.793%201.796-1.793h33.087c0.991%200%201.797%200.802%201.797%201.793%200%200.993-0.806%201.798-1.797%201.798h-33.087c-0.989%200-1.796-0.805-1.796-1.798z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-10-XMLID_16_%22%20d%3D%22m6.66%2024.997c0-0.989%200.807-1.791%201.796-1.791h33.087c0.991%200%201.797%200.802%201.797%201.791%200%200.994-0.806%201.8-1.797%201.8h-33.087c-0.989%200-1.796-0.806-1.796-1.8z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-10-XMLID_15_%22%20d%3D%22m6.66%2032.295c0-0.993%200.807-1.795%201.796-1.795h33.087c0.991%200%201.797%200.802%201.797%201.795s-0.806%201.798-1.797%201.798h-33.087c-0.989%200-1.796-0.805-1.796-1.798z%22%2F%3E%09%3Cpath%20id%3D%22Header-Icons-10-XMLID_14_%22%20d%3D%22m6.66%2039.59c0-0.991%200.807-1.793%201.796-1.793h33.087c0.991%200%201.797%200.802%201.797%201.793%200%200.993-0.806%201.798-1.797%201.798h-33.087c-0.989%200-1.796-0.805-1.796-1.798z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-size: contain;
    }
  }
}

.sort-option {
  float: right;
  margin-right: 10px;

  a {
    display: inline-block;
    font-weight: bold;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: #2387c8;
    }
  }

  .icon-arrows {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22Header-Icons-11-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20id%3D%22Header-Icons-11-XMLID_992_%22%20d%3D%22m21.01%2044.348c-0.451%200-0.876-0.177-1.192-0.494l-7.802-7.831c-0.324-0.329-0.474-0.757-0.474-1.187%200-0.433%200.188-0.864%200.524-1.193%200.656-0.656%201.781-0.652%202.438%200.008l5.034%204.939v-16.433c0-0.933%200.749-1.683%201.681-1.683s1.681%200.75%201.681%201.683v16.433l4.826-4.939c0.657-0.66%201.615-0.664%202.275-0.008%200.662%200.657%200.666%201.721%200.01%202.38l-7.808%207.831c-0.318%200.317-0.745%200.494-1.193%200.494zm6.099-32.938v16.434c0%200.928%200.752%201.679%201.685%201.679%200.928%200%201.681-0.751%201.681-1.679v-16.434l5.034%204.939c0.656%200.658%201.778%200.66%202.438%200.004%200.664-0.652%200.69-1.719%200.034-2.377l-7.791-7.83c-0.318-0.316-0.743-0.494-1.193-0.494-0.447%200-0.876%200.178-1.191%200.494l-7.803%207.83c-0.332%200.328-0.494%200.756-0.494%201.188%200%200.431%200.17%200.86%200.502%201.188%200.656%200.656%201.62%200.654%202.28-0.004l4.818-4.938z%22%20fill%3D%22%232488C9%22%2F%3E%3C%2Fsvg%3E');
    background-size: contain;
  }

  .dropdown-menu {
    top: 100%;
    margin-top: 8px;
    right: 30px;
    min-width: 160px;
  }

  .dropdown-container {
    &:before {
      left: 6px;
      right: auto;
      margin-top: 2px;
    }
  }
}
