<footer>
  <div class="container">
    <div class="footer-info clearfix">
      <div class="row">
        <div class="col-sm-4">
          <p class="column-title">CarZar</p>
          <ul class="footer-list">
            <li><a href="#">Showroom</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">How it Works</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <p class="column-title">Help</p>
          <ul class="footer-list">
            <li><a href="#" target="_self">Terms & Conditions</a></li>
            <li><a href="#" target="_self">Privacy Policy</a></li>
            <li><a href="#" target="_self">FAQs</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <p class="column-title">Discover</p>
          <ul class="footer-list footer-list_last">
            <li><a target="_self" href="#">My Profile</a></li>
            <li><a target="_self" href="#">My Offers</a></li>
            <li><a target="_self" href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <div class="footer-text">
        <p><span class="car-icon"></span> <span class="copyright-text">&copy; 2017 CarZar. All Rights Reserved</span></p>
      </div>
      <div class="footer-social">
        <p>
          <a href="https://twitter.com/CarZarDotCoZa" class="social twitter" target="_blank"><i
            class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/carzardotcoza/" class="social instagram" target="_blank"><i
            class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/CarZarOnline/" class="social fb" target="_blank"><i
            class="fa fa-facebook-square"></i></a>
          <a href="https://plus.google.com/+CarZarCapeTown" class="social gplus" target="_blank"><i
            class="fa fa-google-plus"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>
