<header ng-if="!isWidget">
  <div class="container">
    <div class="navbar-header " ng-class="{'fixed-header': header.showBlock, 'animate-fade':header.showBlock}">
      <button type="button" ng-click="header.toggleMenu()" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="carzar-logo">
        <div class="logo-box">
          <img src="/assets/images/logo_white.svg" alt="Carzar logo">
        </div>
      </a>
    </div>
    <div class="row">
    <div id="navbar" class="navbar-collapse collapse" ng-class="{'anim-fade':header.showBlock, 'in':header.showBlock}">
      <ul class="navbar-list userbar clearfix">
        <li class="userbar-item">
          <a href="#"><span class="icon icon-star"></span></a>
        </li>
        <li class="userbar-item">
          <a href="#" class="notification">
            <span class="icon icon-bell"></span><span class="counter" ng-class="{'invisible': header.notifcationCounter === 0}">{{header.notifcationCounter}}</span>
          </a>
        </li>
        <li class="userbar-item">
          <a href="#"><span class="icon icon-car"></span></a>
        </li>
        <li class="userbar-item">
          <a href="#"><span class="icon icon-user"></span></a>
        </li>
        <li class="userbar-item dropdown">
          <a href="#" ng-click="header.trigUserbar()"><span class="username">hendri van niekerk</span><span class="mycaret"></span></a>
          <div class="dropdown-container userbar-dropdown" ng-if="header.showUserbar" click-outside="header.hideUserbar()">
            <ul class="dropdown-menu submenu border">
              <li ng-repeat="userItem in header.userBar">
                <a ng-href="{{userItem.link}}" target="_self">{{userItem.title}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right my-navbar">
        <li ui-sref-active="active" class="active"><a href="/">Showroom</a></li>
        <li ui-sref-active="active" ng-repeat="menuItem in header.menu">
          <a ui-sref="{{menuItem.state}}" class="menu-link"
             ng-href="{{menuItem.link}}">{{menuItem.title}}</a>
        </li>
        <li class="dropdown">
          <a href="#" ng-click="header.trigDropdown()">More <span class="mycaret"></span></a>
          <div class="dropdown-container" ng-if="header.showDropdown" click-outside="header.hideDropdown($event)">
            <ul class="dropdown-menu submenu border">
              <li ng-repeat="subMenuItem in header.subMenu">
                <a ng-show="subMenuItem.isShown" ng-href="{{subMenuItem.link}}" target="_self">{{subMenuItem.title}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </div>
</header>

