<div class="error-page">
  <div class="container">
    <div class="logo-box">
      <a><img src="assets/images/logo.svg" alt="logo"></a>
    </div>

    <div class="row">
      <div class="col-sm-5 error-text">
        <h1>Oops!</h1>
        <p>Something went wrong :(</p>
      </div>

      <div class="col-sm-7 image-container">
        <img src="assets/images/Oops-Error-Illustration.png" alt="404 Error Illustration">
      </div>

      <!--<div class="col-sm-5 error-helpful">-->
        <!--<p>Here are some helpful links instead:</p>-->
        <!--<ul>-->
          <!--<li><a ng-click="pageOops.clearAllData(true)" class="links">∙ Sell your car </a></li>-->
          <!--<li><a ng-if="!pageOops.stateParams.isWidget" ui-sref="contactUs(pageOops.stateParams)" class="links">∙ Contact us</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</div>
