<div class="options-box clearfix">
  <div class="categories">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 category-wrapper">
          <a href="#" class="option-item option-item_active category-link">Category 1</a>
        </div>
        <div class="col-sm-3 category-wrapper">
          <a href="#" class="option-item category-link">Category 2</a>
        </div>
        <div class="col-sm-3 category-wrapper">
          <a href="#" class="option-item category-link">Category 3</a>
        </div>
        <div class="col-sm-3 category-wrapper">
          <a href="#" class="option-item category-link">Category 4</a>
        </div>
      </div>
    </div>
  </div>
  <div class="view-options">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="input-group search-box">
            <span class="search-icon" id="car-addon"></span>
            <input type="text" class="form-control search-input option-item option-item_white" name="car-search" aria-describedby="car-addon" autocomplete="on" placeholder="Search by make, model or variant." ng-model="option.car">
          </div>
        </div>
        <div class="col-sm-4">
          <ul class="list view-option-list">
            <li ng-repeat="viewOption in viewOptions.viewOptionsList" class="view-option-item">
              <a ng-href="{{viewOption.link}}" ng-click="viewOptions.changeViewMode(viewOption.mode)">
                <span class="icon-view {{viewOption.iconClass}}" ng-class="{'active' : viewOptions.viewMode == viewOption.mode}"></span>
              </a>
            </li>
            <li class="view-option-item">
              View
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <div class="sort-option">
            <div class="dropdown">
              <a href="#" ng-click="viewOptions.trigSortOptions()"><span class="icon-view icon-arrows"></span>Sort</a>
              <div class="dropdown-container" ng-if="viewOptions.showSortOptions" click-outside="viewOptions.hideSortOptions()">
                <ul class="dropdown-menu submenu border">
                  <li ng-repeat="sortOption in viewOptions.sortOptions">
                    <a ng-href="{{sortOption.link}}" target="_self">{{sortOption.title}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
